<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/ai.png') }}">
    <div class="mt-3">
        <p class="p-small-one">Massa primis litora enim praesent quam, ultricies.</p>
        <p class="p-small-one">Inceptos consequat quam varius nostra lacinia donec.</p>
        <p class="p-small-one">Eu scelerisque sem interdum ornare praesent.</p>
        <hr>
        <p class="p-small-one text-muted">Inceptos consequat quam varius nostra lacinia donec.</p>
        <p class="p-small-one text-muted">Eu scelerisque sem interdum ornare praesent.</p>
    </div>
</div>
